/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





html {
    background: url(/images/pexels-photo-large.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family:'Merriweather', 'Thasadith', sans-serif;

}

.heading-container {
    font-size: 75px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.button {
   padding: 13px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
   width: 50%;
   background-color: #3aafa9;
   color:  #18252a;
   border-style: none;
   font-size: 22px;
   transition: all 1s;
}

.button:hover {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 30px;

}

h1 {
    color: #18252a;
}



@media screen and (max-width:970px) {
    .heading-container {
        font-size: 52px;
        font-weight: bold;
    }
}


@media screen and (max-width:620px) {
    .heading-container {
        font-size: 32px;
        font-weight: bold;
    }
    
    .button {
        font-size: 16px;
        width: 100%;
    }

    html {
        background: url(/images/pexels-photo-medium.jpeg) no-repeat center center fixed;
    }
}


@media screen and (max-width:320px) {
    .heading-container {
        font-size: 28px;
        font-weight: bold;
    }
    
    .button {
        font-size: 12px;
        width: 100%;
    }

    html {
        background: url(/images/pexels-photo-medium.jpeg) no-repeat center center fixed;
    }
}
